<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>免责声明</title>
  </head>
  <body>
    <h1 id="项目用途声明">项目用途声明</h1>
    <p>本人为东北大学秦皇岛分校在读学生，开发本项目仅出于以下目的：</p>
    <ol>
      <li>
        <strong>学习目的</strong>：提升对 Web
        开发、自动化爬取、数据解析等技术的理解与实践能力；
      </li>
      <li>
        <strong>校园便利</strong
        >：辅助快速获取教务系统中公开的空教室信息，以便更方便地安排自习与学习；
      </li>
      <li>
        <strong>非商业、非营利</strong>：本项目<strong
          >不会用于任何商业活动</strong
        >，亦不会传播或销售由教务系统获取的数据；
      </li>
      <li>
        <strong>不用于违法用途</strong>：承诺本项目及本人行为<strong
          >不用于任何违法、违规、损害学校或他人利益的用途</strong
        >；
      </li>
      <li>
        <strong>数据公开性</strong
        >：本项目仅访问已授权用户在正常登录状态下可见的数据，不涉及攻击、绕过、干扰教务系统安全机制等行为。
      </li>
    </ol>
    <p>
      如本项目或其技术手段存在对学校系统造成不适当影响的风险，本人将主动终止相关操作，并积极配合学校说明与整改。
    </p>
    <p>本项目不代表东北大学秦皇岛分校官方立场，所有责任由本人承担。</p>
    <p>黄宝焱 2025 年 6 月</p>
  </body>
</html>
